<div class="main-content">
    <div class="container-fluid">
        <div class="row">
	      <div class="col-md-6">
	          <div class="card">
	              <div class="card-header" data-background-color="primary">
	                  <h4 class="title">NFR Editor</h4>
	                  <p class="category">Create a new non functional requirement (NFR)</p>
	              </div>
	              <div class="card-content">
	                  <form>
	                      <div class="row">
	                          <div class="col-md-12">
	                              <div class="form-group form-black label-floating is-empty">
	                                  <label class="control-label">Title</label>
	                                  <input type="text" class="form-control" >
	                              </div>
	                          </div>
	                      </div>
	                      <div class="row">
	                          <div class="col-md-12">
	                              <div class="form-group">
	                                  <div class="form-group form-black label-floating is-empty">
	                                      <label class="control-label"> NFR description</label>
	                                      <textarea class="form-control" rows="5"></textarea>
	                                  </div>
	                              </div>
	                          </div>
	                      </div>
	                      <button type="submit" class="btn btn-primary-dark pull-right">SAVE NFR</button>
	                      <div class="clearfix"></div>
	                  </form>
	              </div>
	          </div>
	     </div>
	     <div class="col-md-6">
	     	<div class="card">
	     		<div class="card-header" data-background-color="primary">
	                  <h4 class="title">NFR Editor</h4>
	                  <p class="category">Select a new non functional requirement (NFR)</p>
	              </div>
	              <div class="card-content">
	                  <form>
	                      <div class="row">
	                          <div class="input-field col-md-12">
	                        	<span>Choose a valid NFR</span>
							        <select>
							          <option value="0"></option>
		                              <option value="1">NFR 1</option>
		                              <option value="1">NFR 2</option>
							        </select>
							  </div>
	                      </div>
	                      <div class="row">
	                          <div class="input-field col-md-12">
	                        	<span>Choose a valid NFR</span>
							        <select>
							          <option value="0"></option>
		                              <option value="1">NFR 1</option>
		                              <option value="1">NFR 2</option>
							        </select>
							  </div>
	                      </div>
	                      <div class="row">
	                          <div class="input-field col-md-12">
	                        	<span>Choose a valid NFR</span>
							        <select>
							          <option value="0"></option>
		                              <option value="1">NFR 1</option>
		                              <option value="1">NFR 2</option>
							        </select>
							  </div>
	                      </div>
	                      <div class="row">
	                          <div class="input-field col-md-12">
	                        	<span>Choose a valid NFR</span>
							        <select>
							          <option value="0"></option>
		                              <option value="1">NFR 1</option>
		                              <option value="1">NFR 2</option>
							        </select>
							  </div>
	                      </div>
	                      
	                      <button type="submit" class="btn btn-primary-dark pull-right">NEXT</button>
	                      <div class="clearfix"></div>
	                  </form>
	              </div>
	     	</div>
	     </div>
	     <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="primary">
                        <h4 class="title">Microservices</h4>
                        <p class="category">List of microservices status deployed in DECIDE platform</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Microservice</th>
                                    <th>Status</th>
                                    <th>Time Up</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>OPTIMUS</td>
                                    <td>decide_optimus</td>
                                    <td>ON</td>
                                    <td>3m 45s</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>ARCHITECT</td>
                                    <td>decide_architect</td>
                                    <td>OFF</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>NFREditor</td>
                                    <td>decide_nfreditor</td>
                                    <td>ON</td>
                                    <td>40m 23s</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>ADAPT</td>
                                    <td>decide_adapt</td>
                                    <td>ON</td>
                                    <td>9m 07s</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Jenkins</td>
                                    <td>decide_jenkins</td>
                                    <td>OFF</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>SonarQ</td>
                                    <td>decide_sonarq</td>
                                    <td>ON</td>
                                    <td>0m 33s</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
	  </div>
  </div>
</div>
